/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Set a basic font (you can change this to match your design) */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #707070; /* Neutral Gray for text */
}

/* Color Scheme */
:root {
    --burgundy: #800020;
    --dark-burgundy: #6C1E3D;
    --light-burgundy: #A53860;
    --complementary-cream: #FFF1E6;
    --neutral-gray: #707070;
    --soft-white: #F8F8F8;
}

/* Utility Classes for Background Colors */
.bg-burgundy {
    background-color: var(--burgundy);
}

.bg-dark-burgundy {
    background-color: var(--dark-burgundy);
}

.bg-light-burgundy {
    background-color: var(--light-burgundy);
}

.bg-cream {
    background-color: var(--complementary-cream);
}

.bg-gray {
    background-color: var(--neutral-gray);
}

.bg-white {
    background-color: var(--soft-white);
}

/* Utility Classes for Text Colors */
.text-burgundy {
    color: var(--burgundy);
}

.text-dark-burgundy {
    color: var(--dark-burgundy);
}

.text-light-burgundy {
    color: var(--light-burgundy);
}

.text-cream {
    color: var(--complementary-cream);
}

.text-gray {
    color: var(--neutral-gray);
}

.text-white {
    color: var(--soft-white);
}

/* Additional Global Styles as needed */
html {
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
}
